<%- include('partials/header') %>

    <main>

        <div class="catalog__header">
            <div class="catalog__title">
                <h2 class="section__title">Notre Catalogue</h2>
            </div>


            <div class="catalog__select">
                <label class= "sr-only" for="category">Choississez une catégorie</label>
                <select class="select" id="category" name="category">
                    <option value="" selected disabled>-- Choisissez une catégorie --</option>

                    <% if(locals.categories?.length) %> {
                        <% categories.forEach(category => { %>
                            <option value="<%= category.main_feature %>"><%= category.main_feature %></option>
                        <% }) %>
                    }
    
                </select>
            </div>
        </div>

        <div>

            <div class="catalog__articles">

                <div class="articles" id="articles__container">

                    <% if (locals.coffees?.length) { %>
                        <% for (let index = 0; index < coffees.length; index++) { %>
                            <% if (index < 3) { %>
                                <div class="article top__article <%= coffees[index].main_feature %>">
                            <% } else { %>
                                <div class="article article__hidden show__more <%= coffees[index].main_feature %>">
                            <% } %>
                                <div class="article__img__container">
                                    <img class="article__img" src="/img/coffees/compressed/<%= coffees[index].reference %>.webp" alt="">
                                </div>
                                <div class="article__description">
                                    <h3 class="article__title"><%= coffees[index].name %></h3>
                                    <p><%= coffees[index].description %></p>
                                </div>
                                <div class="article__btn" ><a href="/article/<%= coffees[index].id %>">Découvrir</a></div>
                            </div>
                        <% } %>
                    <% } else { %>
                        <p>Aucun café à afficher</p>
                    <% } %>



                </div>

            </div>
            <div class="show__more__btn" id="show__more__btn"><a class="article__btn" href="#">Voir tout</a></div>
        </div>

    </main>
<%- include('partials/footer') %>