<%- include('partials/header') %>

    <main>

        <div class="catalog__header">
            <div class="catalog__title">
                <h2 class="section__title">Notre Catalogue</h2>
            </div>
            <div class="catalog__select">
                <select class="select" id="category" name="category">
                    <option value="" selected disabled>-- Choisissez une catégorie --</option>
                    <option value="option1">Option 1</option>
                    <option value="option2">Option 2</option>
                    <option value="option3">Option 3</option>
                    <option value="option4">Option 4</option>
                </select>
            </div>
        </div>

        <div>

            <div class="catalog__articles">

                <div class="articles">

                    <% if (coffees?.length) { %>
                        <% for (let index = 0; index < coffees.length; index++) { %>
                            <% if (index < 3) { %>
                                <div class="article">
                            <% } else { %>
                                <div class="article show__more">
                            <% } %>
                                <div class="article__img__container">
                                    <img class="article__img" src="/img/coffees/compressed/<%= coffees[index].reference %>.webp" alt="">
                                </div>
                                <div class="article__description">
                                    <h3 class="article__title"><%= coffees[index].name %></h3>
                                    <p><%= coffees[index].description %></p>
                                </div>
                                <div class="article__btn"><a href="/article/<%= coffees[index].id %>">Découvrir</a></div>
                            </div>
                        <% } %>
                    <% } else { %>
                        <p>Aucun café à afficher</p>
                    <% } %>



                </div>

            </div>
            <div class="show__more__btn"><a class="article__btn" href="#">Voir tout</a></div>
        </div>

    </main>
<%- include('partials/footer') %>