<%- include('partials/header') %>

        <main>

            <div class="article__image">
            </div>

            <div>

                <div class="detail__article">
                    <h3 class="article__title">Erreur <%= status %></h3>
                    <p><%= error %></p>
                    <!-- pour le développement -->
                    <% if (locals.stack) { %>
                        <pre><%= stack %></pre>
                     <% } %>
                </div>
                <div class="show__catalog"><a class="show__catalog__btn" href="/">Accueil</a></div>
            </div>

        </main>
<%- include('partials/footer') %>